- @title << "Edit #{@event.name} Ruleset"

= simple_form_for @ruleset, url: admin_event_ruleset_path(@event), validate: true, html: {class: 'form-horizontal'} do |f|
  = render 'admin/rulesets/fields', f: f
  .form-actions
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn'