- @title << @event.name

%h2
  Tags
  .clearfix.pull-right
    = link_to 'Add Tag', new_admin_event_tag_path(@event), class: 'btn'
= render 'admin/event_tags/table', tags: @event.tags, event: @event


%h2
  Ruleset
  .clearfix.pull-right
    = link_to 'Edit Ruleset', edit_admin_event_ruleset_path(@event), class: 'btn'
= render 'admin/rulesets/table', ruleset: @event.ruleset

%h2
  Tiers
  .clearfix.pull-right
    = link_to 'Add Tier', new_admin_event_tier_path(@event), class: 'btn'

- if @event.tiers.empty?
  = error_alert() { 'This event has no tiers. Please create one.' }

%table.table.table-condensed.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Actions
      %th Division
      %th Players
      %th Actions
  %tbody
    - @event.tiers.each do |tier|
      %tr
        %td{rowspan: tier.divisions.count}
          = link_to "#{tier.index}. #{tier.name}", admin_tier_path(tier)
        %td{rowspan: tier.divisions.count}
          %ul.inline
            %li= link_to 'Edit', edit_admin_tier_path(tier)
            %li= link_to 'Edit Ruleset', edit_admin_tier_ruleset_path(tier.ruleset)
            %li= link_to 'Delete', admin_tier_path(tier),
                  method: :delete, confirm: 'Are you sure you want to delete this tier?'
        = render 'division_row', div: tier.divisions.first
      - tier.divisions[1, tier.divisions.size].each do |div|
        %tr
          = render 'division_row', div: div
