%h1 Rulesets



= form_for @ruleset, :html => {:class => "form-horizontal"} do |f|
  .control-group
    %label.control-label
      Name
    .controls
      = f.text_field :name
      = f.hidden_field(:canonical, :value => true)

  .control-group

    %label.control-label
      Main Time Min
    .controls
      = f.number_field(:main_time_min)
    %label.control-label
      Main Time Max
    .controls
      = f.number_field(:main_time_max)

  .control-group
    .controls
      %label.checkbox
        Overtime Required
        = f.check_box :overtime_required
      %label.checkbox
        J Overtime Allowed
        = f.check_box :jovertime_allowed
      %label.checkbox
        C Overtime Allowed
        = f.check_box :covertime_allowed

  .control-group
    %label.control-label
      J OT Min Periods
    .controls
      = f.number_field(:jot_min_periods)
    %label.control-label
      J OT Max Periods
    .controls
      = f.number_field(:jot_max_periods)

  .control-group
    %label.control-label
      J OT Min Period Length
    .controls
      = f.number_field(:jot_min_period_length)
    %label.control-label
      J OT Max Period Length
    .controls
      = f.number_field(:jot_max_period_length)

  .control-group
    %label.control-label
      C OT Min Stones
    .controls
      = f.number_field(:cot_min_stones)
    %label.control-label
      C OT Max Stones
    .controls
      = f.number_field(:cot_max_stones)

  .control-group
    %label.control-label
      Handicap Default
    .controls
      = f.number_field(:handicap_default)
    %label.control-label
      Games Per Player
    .controls
      = f.number_field(:games_per_player)
    %label.control-label
      Games Per Opponent
    .controls
      = f.number_field(:games_per_opponent)

  .actions
    = f.submit "Submit"

= render "shared/ruleset_legend"

/ #  id                    :integer          not null, primary key
/ #  name                  :string(255)
/ #  tag_text              :string(255)
/ #  main_time_min         :float
/ #  main_time_max         :float
/ #  overtime_required     :boolean
/ #  jovertime_allowed     :boolean
/ #  covertime_allowed     :boolean
/ #  jot_min_periods       :integer
/ #  jot_max_periods       :integer
/ #  jot_min_period_length :float
/ #  jot_max_period_length :float
/ #  cot_min_stones        :integer
/ #  cot_max_stones        :integer
/ #  handicap_default      :float
/ #  ruleset_default       :integer
/ #  games_per_player      :integer
/ #  games_per_opponent    :integer
/ #  created_at            :datetime         not null
/ #  updated_at            :datetime         not null