- @title << "Users"

%h2 All Users

%table.table.table-condensed.table-bordered.table-hover
  %thead
    %tr
      %th= link_to "Username", @sorter.sortable(sort: "username", params: params)
      %th= link_to "Admin?", @sorter.sortable(sort: "admin", params: params)
      %th Registered?
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td
          - if user.admin?
            = link_to "De-Admin", toggle_admin_path(user), method: :post, class: "btn btn-inverse btn-small", disabled: current_user == user
          - else
            = link_to "Make Admin", toggle_admin_path(user), method: :post, class: "btn btn-primary btn-small"
        %td
          = user.registrations.any? ? "Yes" : "No"


