
%h2 New User

= errors_summary(@user) if @user.errors.any?

%h3 Step 1: Create the ASR Login
%p
  Note: This account is just for logging in to the ASR website.

= simple_form_for @user, validate: true do |f|
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  %hr

  %h3 Step 2: Specify the KGS account
  %p
    Specify the account on KGS.

  = f.simple_fields_for :accounts do |af|
    = af.input :server_id, as: :hidden, input_html: { value: Server.find_by_name("KGS").id }
    = af.input :handle

  .form-actions
    = f.submit "Sign Up", class: 'btn btn-primary'
