%h2 Sign Up

%h3 Step 1: Make an ASR Login
%p Note: This account is just for logging in to the ASR website.

= form_for @user, :validate => true do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .control-group
    = f.label :username, :class => "control-label"
    .controls
      = f.text_field :username
      %span.help-inline
  .div
    = f.label :email
    = f.text_field :email
  .div
    = f.label :password
    = f.password_field :password
  .div
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %hr
  %h3 Step 2: Tell us a KGS or Kaya account.
  %p
    To get started, specify an account you have on KGS or Kaya.
    %strong You'll be able to add more accounts later.

    = fields_for @account do |b|
      .div
        = b.label :handle
        = b.text_field :handle

      .div
        = b.label :rank
        = b.select :rank, ['9d','8d','7d','6d','5d','4d','3d','2d','1d','1k','2k','3k','4k','5k','6k','7k','8k','9k','10k','11k','12k','13k','14k','15k','16k','17k','18k','19k','20k','21k','22k','23k','24k','25k','26k','27k','28k','29k','30k']

      .div
        = b.label :server_id
        = b.select :server_id, ["KGS", "Kaya"]
  .actions
    = f.submit "Sign Up", class: "btn"
