= provide :layout_id, "dashboard"
= provide :layout_class, ""


%h1= @user.email

%h2 My accounts:
%table.table.table-condensed.table-hover.table-bordered
  %tr
    %th Account Handle
    %th Server
    %th Number of Events Joined

  - @accounts.each do |account|
    %tr
      %td= account.handle
      %td= account.server.name
      %td= account.registrations.count

%h2 My events:
%table.table.table-condensed.table-hover.table-bordered
  %tr
    %th Event
    %th Account Handle
    %th Server

  - @accounts.each do |account|
    - account.registrations.each do |registration|
      %tr
        %td= registration.event.name
        %td= account.handle
        %td= account.server.name

