%h2 Manage registrations

%h3 Unassigned Players

// Display all players who have not been assigned to a division.


%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th Name

  - if @unassigned_players.nil?
    %td
      No players are currently unassigned.
  - else
    - @unassigned_players.each do |unassigned_player|
      %tr
        %td= unassigned_player.account.handle

= form_tag(event_registrations_path, :method => "put")
- if @unassigned_players.nil?
  %p There are currently no unassigned players.
- else
  = select_tag("registration_id", options_from_collection_for_select(@unassigned_players, "id", :handle), :multiple => true)

- @divisions.each do |division|

  - if division.registrations.nil?
    %p This division is empty.
  - else
    = select_tag("registration_id", options_from_collection_for_select(division.registrations, "id", :handle), :multiple => true)
  // display a dropdown list containing the names of each division

= select_tag("division_id", options_from_collection_for_select(@divisions, "id", "name"))
= submit_tag "submit"

- if @event.tiers.empty?
  %h3
    This event has no tiers.
    = link_to "Please create them.", manage_event_path(@event)
- else
  - @event.tiers.each do |tier|
    %h3= tier.name
    - if tier.divisions.empty?
      This tier has no divisions.
      = link_to "Please create them.", manage_event_path(@event)
    - else
      - tier.divisions.each do |division|
        %h4= tier.name + " " + division.index.to_s
        %table.table.table-condensed.table-bordered.table-hover
          %tr
            %th Player Name
            %th Player Rank
          - division.registrations.each do |reg|
            %tr
              %td= reg.handle
              %td Coming Soon
