.well.sidebar-nav
  %ul.nav.nav-list
    %li
      = nav_link 'Home', root_path
    - if current_user
      %li.nav-header Your Pages
      %li{:class => ((params[:action] == 'new') and (params[:controller] == 'accounts')) ? 'active' : ''}
        = link_to "Register Accounts", new_account_path
      %li
        = link_to "My Profile", user_path(current_user)
    %li.nav-header Other Pages

    %li
      = link_to "Tournaments", tournaments_path
    %li
      = link_to "Leagues", leagues_path
    %li
      %a Leader Board
    %li.nav-header Admin Pages
    %li
      = link_to "Define Rulesets", new_ruleset_path
    %li
      = link_to "Manage Rulesets", rulesets_path
    %li
      = link_to "Create Event", new_event_path
    %li
      = link_to "View Events", events_path
    %li
      = link_to "Create Tags", new_tag_path
    %li
      = link_to "Manage Tags", tags_path
