.sidebar-nav
  .well{:style => "padding: 8px 0;"}
    %ul.nav.nav-list
      - if current_user
        %li.nav-header
          Your Pages
        %li{class: active_class_for('users#show')}
          = link_to profile_path do
            %i.icon-home
            My Profile

      %li.nav-header
        Main
      %li
        = link_to results_path do
          %i.icon-star
          Current Results
      -# %li
      -#   = link_to leagues_path do
      -#     %i.icon-flag
      -#     All Leagues

      %li.nav-header
        Leagues
      - Event.after(Time.zone.now - 6.months).each do |event|
        %li
          = link_to event_path(event) do
            %i.icon-flag
            = event.name

      - if can? :manage, :all
        %li.nav-header
          Admin
        %li
          = link_to admin_events_path do
            %i.icon-tasks
            Events
        %li
          = link_to admin_users_path do
            %i.icon-user
            Users
        %li
          = link_to posts_path do
            %i.icon-edit
            Posts
        %li
          = link_to pages_path do
            %i.icon-edit
            Pages

