%table.table.table-condensed.table-bordered.table-hover.results-table
  %thead
    %tr
      %th.centered #
      %th= link_to division_sortable 'handle', 'Player', division.id
      %th= link_to division_sortable 'points_this_month', 'Points', division.id
      %th Wins/Losses

  %tbody
    - registrations = division.registrations.joins(:account).order(sort_column + ' ' + sort_direction).to_a
    - registrations.each_with_index do |reg, index|
      %tr{class: ('emphasis' unless reg.active)}
        %td.centered= index + 1
        %td.not-centered
          = reg.handle
          - unless reg.active
            %small (Quit)
        %td= number_with_precision reg.points_this_month, :precision => 2
        %td
          - get_matches_for_reg(matches, reg).each do |match|
            = icon_link_to match_url(match), (match.winner_id == reg.id) ? :'circle-blank' : :circle
