%table.table.table-condensed.table-bordered.table-hover.wide-table.results-table
  %thead
    %tr
      %th.centered #
      %th= link_to division_sortable "handle", "Player", division.id
      %th= link_to division_sortable "points_this_month", "Points", division.id
      - division.registrations.includes(:account).order(sort_column + ' ' + sort_direction).each do |col_player|
        %th
          %span
            %span
              %span= col_player.handle

  %tbody
    - registrations = division.registrations.joins(:account).order(sort_column + ' ' + sort_direction).to_a
    - registrations.each_with_index do |row_player, row_i|
      %tr{class: ('emphasis' unless row_player.active)}
        %td= row_i + 1
        %td.not-centered
          = row_player.handle
          - unless row_player.active
            %small (Quit)
        %td.not-centered= number_with_precision row_player.points_this_month, :precision => 2
        - registrations.each_with_index do |col_player, col_i|
          - if col_player == row_player
            %td.cross.result{class: "column-#{col_i} row-#{row_i}"}
              %i.icon-remove
          - else
            %td.result{class: "column-#{col_i} row-#{row_i}"}
              - display_column_matches(matches, row_player, col_player).each do |match|
                = icon_link_to match_url(match), (match.winner_id == row_player.id) ? :circle : :'circle-blank', target: '_blank'
