- @title << "Results for #{@event.name} - #{Time.now.strftime("%B")}"

= report_bug_alert

- if @event.divisions.empty?
  .alert.alert-info
    This event has no divisions.
    = link_to "Please create them.", manage_event_path(@event)

- else
  .divisions_nav
    - if current_user.nil?
      = link_to 'Join The League', signup_path, class: 'btn btn-primary'
    - elsif !current_user.registrations.where(event_id: @event.id).exists?
      = link_to 'Join The League', join_event_path(@event), class: 'btn btn-primary',
        method: :post

    %ul.nav.nav-tabs
      - @event.divisions.ranked.each do |div|
        %li{class: active_tab_for(div)}
          = link_to div.name, {division_id: div.id}

  - cache [:results, @event, @division] do
    .total-games-progress
      .progress.progress-success.progress-striped
        .bar{style: "width: #{matches_percentage(@division).to_f}%"}
          #{matches_percentage(@division).to_f} %
        %span Total games played

    - if @division.registrations.count == 0
      .well
        %p There are no players assigned to this division yet.
    - elsif @division.registrations.count > 30
      = render 'list_table', event: @event, division: @division, matches: @matches
    - else
      = render 'table', event: @event, division: @division, matches: @matches

