- @title << "Results for #{@event.name} - #{Time.now.strftime("%B")}"


- if @event.divisions.empty?
  .alert.alert-info
    This event has no divisions.
    = link_to "Please create them.", manage_event_path(@event)

- else
  .divisions_nav
    - if current_user.nil?
      = link_to 'Join The League', signup_path, class: 'btn btn-primary'
    - elsif !current_user.registrations.where(event_id: @event.id).exists?
      = link_to 'Join The League', join_event_path(@event), class: 'btn btn-primary',
        method: :post

    %ul.nav.nav-tabs
      - @event.divisions.ranked.each do |div|
        %li{class: active_tab_for(div)}
          = link_to div.name, {division_id: div.id}

  - if @division.registrations.count > 30
    %table.table.table-condensed.table-bordered.table-hover.results-table
      %tr
        %th= link_to @sorter.sortable {sort_column: 'handle', title: 'Player', scope_table: "division", scope_table_id: @division.id}
        %th= link_to @sorter.sortable {sort_column: 'points_this_month', title: 'Points', scope_table: "division", scope_table_id: @division.id}
        %th Wins/Losses
      - @division.registrations.order("#{sort_column} #{sort_direction}").each do |reg|
        %tr
          %td.not-centered= reg.handle
          %td= reg.points_this_month
          %td
            - get_matches_for_reg(@matches, reg).each do |match|
              = icon_link_to match_url(match), (match.winner_id == reg.id) ? :circle : :'circle-blank'

  - else
    %table.table.table-condensed.table-bordered.table-hover.wide-table.results-table
      %tr
        %th= link_to division_sortable "handle", "Player", @division.id
        %th= link_to division_sortable "points_this_month", "Points", @division.id
        - @division.registrations.order(sort_column + ' ' + sort_direction).each do |col_player|
          %th
            %span
              %span
                %span= col_player.handle
      - @division.registrations.order(sort_column + ' ' + sort_direction).each_with_index do |row_player, row_i|
        %tr
          %td.not-centered
            = row_player.handle
            - if can? :read, :matches
              = icon_link_to(registration_matches_path(row_player), :exchange)
          %td.not-centered= row_player.points_this_month
          - @division.registrations.order(sort_column + ' ' + sort_direction).each_with_index do |col_player, col_i|
            - if col_player == row_player
              %td.cross.result{class: "column-#{col_i} row-#{row_i}"}
                %i.icon-remove
            - else
              %td.result{class: "column-#{col_i} row-#{row_i}"}
                - display_column_matches(@matches, row_player, col_player).each do |match|
                  = icon_link_to match_url(match), (match.winner_id == row_player.id) ? :circle : :'circle-blank'
