- @title << "Add #{@event.name} tag"

= simple_form_for @tag, as: :event_tag, validate: true, html: {class: 'form-horizontal'} do |f|

  = f.input :phrase
  = f.input :node_limit, label: 'Move Limit'

  .form-actions
    = f.submit 'Create', class: 'btn btn-primary'
    = link_to 'Back', :back, class: 'btn'