.control-group
  %label.control-label
    Division Numeral (e.g., 1)
  .controls
    = f.number_field :division_index

.control-group
  %label.control-label
    Minimum Players
  .controls
    = f.number_field :minimum_players

.control-group
  %label.control-label
    Maximum Players
  .controls
    = f.number_field :maximum_players

.control-group
  %label.control-label
    Current Players
  .controls
    = f.number_field :current_players

.control-group
  %label.control-label
    Safe Position
  .controls
    = f.number_field :safe_position

.control-group
  %label.control-label
    Promoted Players
  .controls
    = f.number_field :promoted_players

.control-group
  %label.control-label
    Promoted Players
  .controls
    = f.number_field :promoted_players

.control-group
  %label.control-label
    Demoted Players
  .controls
    = f.number_field :demoted_players