- @title << "Edit Event"

= simple_form_for @event, :html => {:class => "form-horizontal"} do |f|

  = f.input :server_id, collection: @servers, default: 1
  = f.input :ruleset_id, collection: @rulesets, default: 1
  = f.input :name
  = f.input :description
  = f.input :event_type, collection: ["League", "Tournament"], default: 1, label: "Event Type"

  .actions
    = f.submit "Edit Event", class: "btn"