%h1 Events (e.g., League)

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th Name
    %th Manage Structure
    %th Manage Players
    %th Players
    %th Rulesets
    %th Type
    %th Server

    %th Delete

  - @events.each do |event|
    %tr{:class => "#{dom_id(event)}"}
      %td
        = event.name
      %td
        = link_to "Manage", manage_event_path(event)
        |
        = link_to "Overview", event_path(event)
        |
        = link_to "Tags", event_tags_path(event)
        |
        = link_to "Results", results_event_path(event)
      %td
        = link_to "Assign", event_registrations_path(event)
      %td
        = event.player_count
      %td
        = event.ruleset ? event.ruleset.name : "No ruleset"
      %td= event.event_type
      %td= event.server.name

      %td= link_to "Delete", event_path(event), :method => :delete, :remote => true, :confirm => "Are you sure? This action cannot be undone!"
