%h1 Events (e.g., League)

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th Name
    %th Type
    %th Server
    %th Ruleset
    %th OT Required?
    %th Jp OT?
    %th Ca OT?
    %th JOT Min Periods
    %th JOT Max Periods
    %th JOT Min Length
    %th JOT Max Length
    %th COT Min Stones
    %th COT Max Stones
    %th Handi Default
    %th Ruleset Default
    %th Games per player
    %th Games per opponent
    %th Delete

  - @events.each do |event|
    %tr
      %td
        = link_to event.name, event_path(event)
      %td= event.event_type
      %td= event.server.name
      %td= event.ruleset ? event.ruleset.name : "No ruleset"
      %td= event.ruleset.overtime_required
      %td= event.ruleset.jovertime_allowed
      %td= event.ruleset.covertime_allowed
      %td= event.ruleset.jot_min_periods
      %td= event.ruleset.jot_max_periods
      %td= event.ruleset.jot_min_period_length
      %td= event.ruleset.jot_max_period_length
      %td= event.ruleset.cot_min_stones
      %td= event.ruleset.cot_max_stones
      %td= event.ruleset.handicap_default
      %td= event.ruleset.ruleset_default
      %td= event.ruleset.games_per_player
      %td= event.ruleset.games_per_opponent
      %td= link_to "Delete", event_path(event), :method => :delete