%h1= @event.name

- if @event.tiers.empty?
  %h2 This event has no tiers. Please create one.
- else

  %h3 Tiers
  %table.table.table-condensed.table-bordered.table-hover
    %tr
      %th Name
      %th Position
      %th Ruleset
      %th Tier Settings
      %th Delete Tier

    - @event.tiers.ranked.each do |tier|
      %tr
        %td
          = tier.name
        %td
          = tier.tier_hierarchy_position
        %td
          - if !tier.ruleset?
            Edit Override Ruleset
          - else
            = link_to "Edit Override Ruleset", edit_tier_ruleset_path(tier.ruleset)
        %td
          = link_to "Edit", edit_tier_path(tier)
        %td
          = link_to "Delete", event_tier_path(@event, tier), :method => :delete

%h4 Create Tiers

= render "tier_form", :locals => {:event => @event, :tier => @tier}

%hr

%h3 Divisions (by Tier)

= render "divisions", :event => @event

