%h1 Events (League months, tournaments, etc.)

/ To do: write a dropdown select box that lists all the available event types, with a value of their corresponding ID. Build the event as an associated object belonging to that event type.

= form_for @event, :html => {:class => "form-horizontal"} do |f|

  .control-group
    %label.control-label
      Server
    .controls
      = f.select(:server_id, options_from_collection_for_select(@servers, :id, :name))
    %label.control-label
      Canonical Ruleset
    .controls
      = f.select(:ruleset_id, options_from_collection_for_select(@rulesets, :id, :name))

  .control-group
    %label.control-label
      Event Name
    .controls
      = f.text_field :name

  .control-group
    %label.control-label
      Event Type
    .controls
      = f.select(:event_type, ["League", "Tournament"])

  .accordion#accordion1
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{:data => {:toggle => "collapse", :parent => "#accordion1"}, :href => "#collapseOne"}
          Create Override Ruleset (Optional)
      .accordion-body.collapse#collapseOne
        .accordion-inner
          = f.fields_for(@event.event_ruleset) do |b|

            = render "ruleset_fields", :b => b

  .actions
    = f.submit "Submit"