%h1 Events (League months, tournaments, etc.)

/ To do: write a dropdown select box that lists all the available event types, with a value of their corresponding ID. Build the event as an associated object belonging to that event type.

= form_for @event, :html => {:class => "form-horizontal"} do |f|

  .control-group
    %label.control-label
      Server
    .controls
      = f.select(:server_id, options_from_collection_for_select(@servers, :id, :name))
    %label.control-label
      Ruleset
    .controls
      = f.select(:ruleset_id, options_from_collection_for_select(@rulesets, :id, :name))

    = f.fields_for :event_rulesets do |builder|
      %fieldset
        = builder.label

<%= f.fields_for :questions do |builder| %>
  <fieldset>
  <%= builder.label :content, "Question " %><br/>
  <%= builder.text_area :content %>
  </fieldset>
<% end %>

  .control-group
    %label.control-label
      Name
    .controls
      = f.text_field :name

  .control-group

    %label.control-label
      Main Time Min
    .controls
      = f.number_field(:main_time_min)
    %label.control-label
      Main Time Max
    .controls
      = f.number_field(:main_time_max)

  .control-group
    .controls
      %label.checkbox
        Overtime Required
        = f.check_box :overtime_required
      %label.checkbox
        J Overtime Allowed
        = f.check_box :jovertime_allowed
      %label.checkbox
        C Overtime Allowed
        = f.check_box :covertime_allowed

  .control-group
    %label.control-label
      J OT Min Periods
    .controls
      = f.number_field(:jot_min_periods)
    %label.control-label
      J OT Max Periods
    .controls
      = f.number_field(:jot_max_periods)

  .control-group
    %label.control-label
      J OT Min Period Length
    .controls
      = f.number_field(:jot_min_period_length)
    %label.control-label
      J OT Max Period Length
    .controls
      = f.number_field(:jot_max_period_length)

  .control-group
    %label.control-label
      C OT Min Stones
    .controls
      = f.number_field(:cot_min_stones)
    %label.control-label
      C OT Max Stones
    .controls
      = f.number_field(:cot_max_stones)

  .control-group
    %label.control-label
      Handicap Default
    .controls
      = f.number_field(:handicap_default)
    %label.control-label
      Games Per Player
    .controls
      = f.number_field(:games_per_player)
    %label.control-label
      Games Per Opponent
    .controls
      = f.number_field(:games_per_opponent)

  .actions
    = f.submit "Submit"

%h2 Legend

%dl
  %dt Event Type (ruleset)
  %dd
    Name of ruleset
  %dt Name
  %dd
    Name of event
  %dt Tag Text
  %dd
    This is the string that will be scanned for to verify that a game played on KGS is a legitimate league game.
  %dt Main Time Min
  %dd
    This is the minimum amount of main game time, in seconds permitted (before byo-yomi). So ten minutes is 60 x 10 = 600.
  %dt Main Time Max
  %dd
    This is the maximum amount of main game time, in seconds.
  %dt Overtime Required
  %dd
    False if absolute time games are permitted, true if they are not.
  %dt J Overtime Allowed
  %dd
    This is a boolean toggle for whether or not games with Japanese overtime settings (byo-yomi periods/stones) will be permitted. If selected, the games will be permitted.
  %dt J OT Min Periods
  %dd
    The minimum number of Japanese overtime periods allowed. For example, 1 period with n number of stones. It does not control the stones per period.
  %dt J OT Max Periods
  %dd
    The maximum number of Japanese overtime periods allowed.
  %dt J OT Min Period Length
  %dd
    This is the Japanese overtime minimum period length, in seconds. In other words, this is the number of seconds a player has to make a move, or lose a period.
  %dt J OT Max Period Length
  %dd
    This is the maximum Japanese overtime period length, in seconds.
  %dt C OT Min Stones
  %dd
    This controls the Canadian overtime minimum number of stones per overtime period. Canadian overtime is seconds/stones: so this controls the number of stones that must be played in n seconds.
  %dt C OT Max Stones
  %dd
    This controls Canadian overtime maximum number of stones that must be played in the overtime period.
  %dt Handicap Default
  %dd
    This sets a default handicap requirement for the league. 0 is recommended.
  %dt Games Per Player
  %dd
    This is the number of games a player must play in order to advance.
  %dt Games Per Opponent
  %dd
    This is the number of games a player is permitted to play per month against a single opponent.

/ #  id                    :integer          not null, primary key
/ #  name                  :string(255)
/ #  tag_text              :string(255)
/ #  main_time_min         :float
/ #  main_time_max         :float
/ #  overtime_required     :boolean
/ #  jovertime_allowed     :boolean
/ #  covertime_allowed     :boolean
/ #  jot_min_periods       :integer
/ #  jot_max_periods       :integer
/ #  jot_min_period_length :float
/ #  jot_max_period_length :float
/ #  cot_min_stones        :integer
/ #  cot_max_stones        :integer
/ #  handicap_default      :float
/ #  ruleset_default       :integer
/ #  games_per_player      :integer
/ #  games_per_opponent    :integer
/ #  created_at            :datetime         not null
/ #  updated_at            :datetime         not null