%h3
  Results for
  = @event.name

- if !params[:division]
  %h4
    This event has no divisions.
    = link_to "Please create them.", manage_event_path(@event)
- else
  .quick-links
    %h4 Quick Links
    %ul
      - @tiers.each do |tier|
        - tier.divisions.ranked.each do |division|
          %li= link_to "#{division.name}", { :division => division.id }

  - css_id = @division.name.downcase.gsub(/\s+/, "")

  %h4= @division.name

  - if @division.registrations.count > 30
    %table.table.table-condensed.table-bordered.table-hover
      %tr
        %th Player
        %th Points
        %th Wins/Losses
      - @division.registrations.each do |player|
        %tr
          %td= player.handle
          %td= player.points_this_month
          %td
            - games = player.valid_and_tagged_matches
            / - binding.pry
            - games.each do |game|
              - if game.winner_id == player.id
                = link_to game.url do
                  %i.icon-circle
              - else
                = link_to game.url do
                  %i.icon-circle-blank

  - else
    %table.table.table-condensed.table-bordered.table-hover
      %tr
        %th Player
        %th Points
        - @division.registrations.each do |col_player|
          %th= col_player.handle
      - @division.registrations.each do |row_player|
        %tr
          %td= row_player.handle
          %td= row_player.points_this_month
          - @division.registrations.each do |col_player|
            - if col_player == row_player
              %td
                %i.icon-remove
            - else
              %td
                / - binding.pry
                - games = []
                - games = @matches.select { |game| (row_player.id == game.black_player_id or row_player.id == game.white_player_id) and (col_player.id == game.black_player_id or col_player.id == game.white_player_id) }.sort_by { |g| g.datetime_completed }

                - games.each do |game|
                  - if game.winner_id == row_player.id
                    = link_to game.url do
                      %i.icon-circle
                  - else
                    = link_to game.url do
                      %i.icon-circle-blank

                / - col_player.match_results(true, true, row_player.id).each do |win|
                / %span W
                / - col_player.match_results(true, false, row_player.id).each do |loss|
                / %span L

