- @body_id = 'event-show'
- @title << "#{@event.name}"

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#tab1", data: {toggle: "tab"}} Description
    %li
      %a{href: "#tab2", data: {toggle: "tab"}} Prizes
    %li
      %a{href: "#tab3", data: {toggle: "tab"}} Rules
    %li
      %a{href: "#tab4", data: {toggle: "tab"}} Players
    %li.pull-right
      .escape-style
        - if can? :manage, :events
          = link_to 'Edit Event', edit_admin_event_path(@event), class: 'btn btn-primary'
        - elsif current_user.nil?
          = link_to 'Sign up to join this event!', signup_path, class: 'btn btn-primary'
        - elsif current_user && @event.open?
          - reg = current_user.registrations.active.where(event_id: @event.id).first
          - if reg
            = link_to 'Quit', quit_event_path(@event), class: 'btn btn-danger',
              method: :delete, confirm: 'Are you sure you want to quit the league?'
          - else
            = link_to "Join #{@event.name}!", join_event_path(@event), class: 'btn btn-primary btn-success',
              method: :post

  .tab-content
    #tab1.tab-pane.active
      %p
        - if @event.description
          = markdown_to_html(@event.description)
        - else
          This event has no description.
    #tab2.tab-pane
      %p
        - if @event.prizes_description
          = markdown_to_html(@event.prizes_description)
        - else
          This event has no prizes.
    #tab3.tab-pane
      %table.table.table-condensed.table-bordered.table-hover
        - @ruleset.rules.select { |k,v| v.present? }.each do |k,v|
          %tr
            %th= I18n.t "activerecord.attributes.ruleset.#{k}"
            - if v.kind_of?(TrueClass) || v.kind_of?(FalseClass)
              %td= v ? 'Yes' : 'No'
            -else
              %td= v
    #tab4.tab-pane
      %ul
        - @event.registrations.each do |reg|
          %li= reg.handle

