%ul.breadcrumb
  %li
    = link_to "Home", :root
    %span.divider= "/"
  %li
    = link_to "Events", events_path
    %span.divider= "/"
  %li.active
    = @event.name
    Overview


%h1= @event.name

- if @event.tiers.empty?
  %p
    This event has no tiers.
    = link_to "Please create one.", event_manage_path(@event)
- else

  %h3 Tiers
  %table.table.table-condensed.table-bordered.table-hover
    %tr
      %th Name
      %th Position
      %th Participants
      %th Ruleset
      %th Tier Settings
      %th Delete Tier

    - @event.tiers.ranked.each do |tier|
      %tr
        %td
          = tier.name
        %td
          = tier.tier_hierarchy_position
        %td
          = tier.player_count
        %td
          - if !tier.ruleset?
            Edit Override Ruleset
          - else
            = link_to "Edit Override Ruleset", edit_tier_ruleset_path(tier.ruleset)
        %td
          = link_to "Edit", edit_tier_path(tier)
        %td
          = link_to "Delete", event_tier_path(@event, tier), :method => :delete




%h3 Divisions by Tier
- @event.tiers.ranked.each do |tier|
  %table.table.table-condensed.table-bordered.table-hover
    %tr
      %th
        Tier
        = tier.name
        Divisions
      %th
        Participants
      %th
        Edit
      %th
        Delete
    - if tier.divisions.empty?
      %tr
        %td{:colspan => 3}
          This tier has no divisions.
          = link_to "Please create them.", event_manage_path(@event)
    - else
      - tier.divisions.each do |division|
        %tr
          %td
            = tier.name + " " + division.division_index.to_s
          %td
            = division.accounts.count
          %td
            = link_to "Edit", edit_division_path(division)
          %td
            = link_to "Delete", division_path(division), :method => :delete



