%table.table.table-condensed.table-bordered.table-hover.wide-table
  %thead
    %tr
      %th= link_to_order('Date', :date)
      %th Division
      %th= link_to_order('White', :white)
      %th= link_to_order('Black', :black)
      %th= link_to_order('Win Info', :win_info)
      %th Tags
      - if can? :manage, :matches
        %th Accepted
        %th Actions

  %tbody
    - if matches.empty?
      %tr
        %td{colspan: "#{can?(:manage, :matches) ? 8 : 6}"}
          %p.text-warning
            No matches



    - matches.each do |match|
      %tr
        %td= match.completed_at.strftime('%Y-%m-%d')
        %td= match.division.display_name
        %td= style_handle(match.white_player, match.winner_id)
        %td= style_handle(match.black_player, match.winner_id)
        %td= match.win_info
        %td= match.tags.collect { |m| m.phrase }.compact.join(', ')
        - if can? :manage, :matches
          %td= yes_no(match.accepted?)
          %td
            %ul.inline
              %li= link_to 'Details', admin_match_path(match)
              %li= link_to 'Process', validate_and_tag_admin_match_path(match), method: :post
              - if Rails.env.development?
                %li= link_to 'Delete', admin_match_path(match), method: :delete,
                      confirm: 'Are you sure?'
