%h1 Manage Tags

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th Phrase
    %th Event
    %th Edit
    %th Delete

  - @tags.each do |tag|
    %tr
      %td= tag.phrase
      - if tag.event
        %td= link_to "#{tag.event.name}", event_path(tag.event)
      - else
        %td No event assigned
      %td= link_to "Edit", edit_tag_path(tag)
      %td= link_to "Delete", tag_path(tag), :method => :delete