%h1 Tags

- if @events.empty?
  %p
    There are no events yet.
    = link_to "Please create one.", new_event_path
  %p Then you will be able to create a tag.

- else
  = form_for @tag, :html => {:class => "form-horizontal"} do |f|
    - if @tag.errors.any?
      .error_messages
        %h2
          = pluralize(@tag.errors.count, "error")
          prohibited this tier from being saved:
        %ul
          - @tag.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      %label.control-label
        Tag Phrase
      .controls
        = f.text_field :phrase
      %label.control-label
        Event
      .controls
        = f.select(:event_id, options_from_collection_for_select(@events, :id, :name))

    .actions
      = f.submit "Create Tag", class: "btn"