%h1 Log In

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
  .form-inputs
    = f.input :login, autofocus: true
    = f.input :password
    = f.input :remember_me, as: :boolean, wrapper: :checkbox
  .form-actions
    = f.button :submit, "Log In", class: 'btn btn-primary'

= render "devise/shared/links"
