- @title << "Edit Post"

= simple_form_for @post, validate: true do |f|
  = f.input :title
  = f.input :permalink
  = f.input :html, input_html: { class: "markItUp" }


  .form-actions
    = f.submit "Edit", class: 'btn btn-primary'