%h2 Posts

- @posts.each do |post|
  - if can? :post, Post
    %h3= link_to "#{post.title}", edit_post_path(post)
  - else
    %h3= post.title
  %h4= post.date.strftime('%d-%m-%Y')
  %p= markdown_to_html(post.html)
