!!!
%html
%head
  %title Advanced Study Room
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body{:class => "#{yield(:css_class)}"}
  = render "shared/header"

  .container-fluid
    .row-fluid
      .span2
        .well.sidebar-nav
          %ul.nav.nav-list
            %li.active
              %a Tournaments
            %li
              %a Leagues
            %li
              %a Points
            %li
              %a My Profile
            %li.nav-header Sidebar
            %li
              %a Link
            %li
              %a Link
            %li
              %a Link
            %li
              %a Link
            %li
              %a Link
            %li
              %a Link
            %li.nav-header Sidebar
            %li
              %a Link
            %li
              %a Link
            %li
              %a Link
      .span10
        .hero-unit
          %h1
            = yield(:title)
        = render :partial => "shared/flash_messages", :locals => {:flash => flash}
        .row-fluid
          = yield
    %hr

    %footer
      %p &copy; Advanced Study Room 2012